<%=render partial:'shared/usernav'%>
<div class="max-w-7xl mx-auto mt-5 bg-blue-200 p-5">
    <div class="flex flex-col justify-center items-center gap-8">
        <div>
        <h1 class="text-5xl">Add Profile</h1>
        </div>

            <%=render 'form'%>

    </div>

</div>