
<div class="flex">
    <div><%=render 'shared/admin'%></div>
    <div>
          <!-- Main Content Area -->
    <main class="flex-grow p-6">
        <!-- Hamburger menu for mobile -->
        <button class="md:hidden p-3 bg-gray-800 text-white rounded-md mb-4" id="sidebar-toggle">
            <i class="fas fa-bars"></i>
        </button>
        <div class="bg-white rounded-lg shadow-md p-6">
            <h1 class="text-2xl font-bold text-gray-800 mb-4">Employee Task Management</h1>
            <p class="text-gray-600">This is a tasks.</p>
        </div>
    </main>
    <section class="container flex w-[1300px]">
        <div class="w-[50%]">
            <%=render 'target'%>
        </div>
        <div class="w-[50%]">
            right
        </div>
    </section>
    </div>
</div>
