<div class="flex">
    <div><%=render 'shared/admin'%></div>
    <div>
          <!-- Main Content Area -->
    <main class="mt-8">
        <%=render 'employeedata'%>
    </main>

    <main class="mt-8">
        <%=render 'employeerecord'%>
    </main>

    </div>
</div>
