
<div class="flex">
    <div><%=render 'shared/admin'%></div>
    <div>
          <!-- Main Content Area -->
    <main class="flex items-center justify-center max-w-7xl">
        <%=render 'viewemployee'%>
    </main>

    </div>
</div>